*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container{
	width: 90%;
	margin: 0 auto;

}

.mt{
	margin-top: 20px;
}

aside{
	width: 30%;
	padding-left: 15px;
	margin-left: 15px;
	float: right;
	font-style: italic;
	background: yellow;


}

article{
	color: #008000;
}

.h5{
	color: rgb(30, 141, 75);
}

.h6{
	color: hsl(0, 61%, 50%) ;
}

.h7{
	color: #ffff47;
}
